@{
    ViewBag.Title = "";
}

<div class="login_page_bg">
    <div class="container">
        <div class="row">
            <div class="col-12" style=" text-align: center;font-size: 1.2em; color: red; font-weight: 500;">
                    @ViewBag.ShowContent
            </div>
        </div>

    </div>
</div>

