
@{
    ViewData["Title"] = "ورود کاربر";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div id="ts-example">
    <br />
    <button type="button" class="btn btn-primary btn-md" onclick="TSButton()">
        Click Me
    </button>
</div>