
<div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal_body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="modal_tab">
                                <div class="tab-content product-details-large">
                                    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img class="modal_image_contentClass1" src="" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab2" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img class="modal_image_contentClass2" src="" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab3" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img class="modal_image_contentClass3" src="" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab4" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img class="modal_image_contentClass4" src="" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab5" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img class="modal_image_contentClass5" src="" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab6" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img class="modal_image_contentClass6" src="" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab7" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img class="modal_image_contentClass7" src="" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab8" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img class="modal_image_contentClass8" src="" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab9" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img class="modal_image_contentClass9" src="" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab10" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img class="modal_image_contentClass10" src="" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab11" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img class="modal_image_contentClass11" src="" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal_tab_button">
                                    <ul class="nav product_navactive owl-carousel" role="tablist">
                                        <li id="moLi1">
                                            <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false"><img class="modal_image_listClass1" src="" alt=""></a>
                                        </li>
                                        <li id="moLi2">
                                            <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><img class="modal_image_listClass2" src="" alt=""></a>
                                        </li>
                                        <li id="moLi3">
                                            <a class="nav-link button_three" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><img class="modal_image_listClass3" src="" alt=""></a>
                                        </li>
                                        <li id="moLi4">
                                            <a class="nav-link" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false"><img class="modal_image_listClass4" src="" alt=""></a>
                                        </li>
                                        <li id="moLi5">
                                            <a class="nav-link" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false"><img class="modal_image_listClass5" src="" alt=""></a>
                                        </li>
                                        <li id="moLi6">
                                            <a class="nav-link" data-toggle="tab" href="#tab6" role="tab" aria-controls="tab6" aria-selected="false"><img class="modal_image_listClass6" src="" alt=""></a>
                                        </li>
                                        <li id="moLi7">
                                            <a class="nav-link" data-toggle="tab" href="#tab7" role="tab" aria-controls="tab7" aria-selected="false"><img class="modal_image_listClass7" src="" alt=""></a>
                                        </li>
                                        <li id="moLi8">
                                            <a class="nav-link" data-toggle="tab" href="#tab8" role="tab" aria-controls="tab8" aria-selected="false"><img class="modal_image_listClass8" src="" alt=""></a>
                                        </li>
                                        <li id="moLi9">
                                            <a class="nav-link" data-toggle="tab" href="#tab9" role="tab" aria-controls="tab9" aria-selected="false"><img class="modal_image_listClass9" src="" alt=""></a>
                                        </li>
                                        <li id="moLi10">
                                            <a class="nav-link" data-toggle="tab" href="#tab10" role="tab" aria-controls="tab10" aria-selected="false"><img class="modal_image_listClass10" src="" alt=""></a>
                                        </li>
                                        <li id="moLi11">
                                            <a class="nav-link" data-toggle="tab" href="#tab11" role="tab" aria-controls="tab11" aria-selected="false"><img class="modal_image_listClass11" src="" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="modal_right">
                                <div class="modal_title mb-10">
                                    <h2 id="modalProductNameId">نمایش سریع </h2>
                                </div>
                                <div class="modal_price mb-10">
                                    <span id="modalPriceId" class="new_price">64,000 تومان</span>
                                    <span id="modalBeforDiscountId" class="old_price">78,000 تومان</span>
                                </div>
                                <div class="modal_description mb-15" style="min-height: 12em;">
                                    <p id="modalDescriptionId">در این لحضه نمایش سریع درست بارگذاری نمی شود بهتر است پنجر لود سریع را ببندید و روی عکس کالا کلیک نمایید تا جزوئیات کالا را ببینید </p>
                                </div>
                                <div class="variants_selects">

                                    <div class="variants_color">
                                        <h2>انتخاب رنگ</h2>
                                        <div id="color_div_Id" style="height: 7em;"></div>
                                    </div>
                                    <div class="modal_add_to_cart">
                                        <form id="formModalId" action="#">
                                            <input id="productCountModalId" name="productCount" step="2" min="1" max="" value="1" type="number">
                                            <input id="hiddInputColore" name="productColor" type="hidden" value="" />
                                            <input id="ProductIdModalId" name="ProductId" type="hidden" value="" />
                                            <button type="submit">افزودن به سبد</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal_social">
                                    <h2>اشتراک گذاری این محصول</h2>
                                    <ul>
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal_Video" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal_body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <video width="320" height="240" controls>
                                <source src="~/js/movie.mp4" type="video/mp4">
                              بروزر شما این ویدیو را پشتیبانی نمی کند
                            </video>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
