@model DataLayer.EF.PromotionProduct

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>ایجاد پرومشن های غیر محصولی و بنری</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PromotionType" class="control-label"></label>
                <select asp-for="PromotionType" class="form-control" asp-items="ViewBag.PromotionType"></select>
                <span asp-validation-for="PromotionType" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="FkProduct" class="control-label"></label>
            <select asp-for="FkProduct" class="form-control" asp-items="ViewBag.FkProduct"></select>
        </div>*@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Query" class="control-label"></label>
                <input asp-for="Query" class="form-control" />
                <span asp-validation-for="Query" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpireDateTime" class="control-label"></label>
                <input asp-for="ExpireDateTime" class="form-control" />
                <span asp-validation-for="ExpireDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input disabled asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="FkCategory" class="control-label"></label>
            <select asp-for="FkCategory" class="form-control" asp-items="ViewBag.FkCategory"></select>
        </div>*@
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">برگشت به لیست</a>
</div>

